<%= form_for(@situacao) do |f| %>
  <% if @situacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@situacao.errors.count, "error") %> prohibited this situacao from being saved:</h2>

      <ul>
      <% @situacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
