<p id="notice"><%= notice %></p>

<h1>Listing Situacaos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situacaos.each do |situacao| %>
      <tr>
        <td><%= situacao.descricao %></td>
        <td><%= link_to 'Show', situacao %></td>
        <td><%= link_to 'Edit', edit_situacao_path(situacao) %></td>
        <td><%= link_to 'Destroy', situacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Situacao', new_situacao_path %>
