<%= form_for(@ministerio) do |f| %>
  <% if @ministerio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ministerio.errors.count, "error") %> prohibited this ministerio from being saved:</h2>

      <ul>
      <% @ministerio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
