<p id="notice"><%= notice %></p>

<h1>Listing Ministerios</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ministerios.each do |ministerio| %>
      <tr>
        <td><%= link_to 'Show', ministerio %></td>
        <td><%= link_to 'Edit', edit_ministerio_path(ministerio) %></td>
        <td><%= link_to 'Destroy', ministerio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ministerio', new_ministerio_path %>
