<p id="notice"><%= notice %></p>
<p>
  <strong>Nome:</strong>
  <%= @membro.nome %>
</p>

<p>
  <strong>Forma tratamento:</strong>
  <%= @membro.forma_tratamento %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @membro.data_nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @membro.sexo %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @membro.cpf %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @membro.foto %>
</p>

<%= link_to 'Edit', edit_membro_path(@membro) %> |
<%= link_to 'Back', membros_path %>
