<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('1HBCBdk12g6u9ssQoGViQ8iIRDkX8Glm', 'lanwise.auth0.com', {
    auth: {
      redirectUrl: 'http://localhost:3000/auth/auth0/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>
<button onclick="lock.show();">Login</button>
