<p id="notice"><%= notice %></p>

<h1>Listing Tipo Documentos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_documentos.each do |tipo_documento| %>
      <tr>
        <td><%= tipo_documento.tipo %></td>
        <td><%= link_to 'Show', tipo_documento %></td>
        <td><%= link_to 'Edit', edit_tipo_documento_path(tipo_documento) %></td>
        <td><%= link_to 'Destroy', tipo_documento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo documento', new_tipo_documento_path %>
