<%= form_for(@grau_instrucao) do |f| %>
  <% if @grau_instrucao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grau_instrucao.errors.count, "error") %> prohibited this grau_instrucao from being saved:</h2>

      <ul>
      <% @grau_instrucao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
