<p id="notice"><%= notice %></p>

<h1>Listing Grau Instrucaos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grau_instrucaos.each do |grau_instrucao| %>
      <tr>
        <td><%= grau_instrucao.descricao %></td>
        <td><%= link_to 'Show', grau_instrucao %></td>
        <td><%= link_to 'Edit', edit_grau_instrucao_path(grau_instrucao) %></td>
        <td><%= link_to 'Destroy', grau_instrucao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grau instrucao', new_grau_instrucao_path %>
