<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @grau_instrucao.descricao %>
</p>

<%= link_to 'Edit', edit_grau_instrucao_path(@grau_instrucao) %> |
<%= link_to 'Back', grau_instrucaos_path %>
