<%= form_for(@documento) do |f| %>
  <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento.errors.count, "error") %> prohibited this documento from being saved:</h2>

      <ul>
      <% @documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :documento %><br>
    <%= f.text_field :documento %>
  </div>
  <div class="field">
    <%= f.label :orgao_expeditor %><br>
    <%= f.text_field :orgao_expeditor %>
  </div>
  <div class="field">
    <%= f.label :data_expedicao %><br>
    <%= f.datetime_select :data_expedicao %>
  </div>
  <div class="field">
    <%= f.label :data_validade %><br>
    <%= f.datetime_select :data_validade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
