<p id="notice"><%= notice %></p>

<p>
  <strong>Documento:</strong>
  <%= @documento.documento %>
</p>

<p>
  <strong>Orgao expeditor:</strong>
  <%= @documento.orgao_expeditor %>
</p>

<p>
  <strong>Data expedicao:</strong>
  <%= @documento.data_expedicao %>
</p>

<p>
  <strong>Data validade:</strong>
  <%= @documento.data_validade %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
