<%= form_for(@profissao) do |f| %>
  <% if @profissao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profissao.errors.count, "error") %> prohibited this profissao from being saved:</h2>

      <ul>
      <% @profissao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profissao %><br>
    <%= f.text_field :profissao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
