<p id="notice"><%= notice %></p>

<h1>Listing Profissaos</h1>

<table>
  <thead>
    <tr>
      <th>Profissao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profissaos.each do |profissao| %>
      <tr>
        <td><%= profissao.profissao %></td>
        <td><%= link_to 'Show', profissao %></td>
        <td><%= link_to 'Edit', edit_profissao_path(profissao) %></td>
        <td><%= link_to 'Destroy', profissao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profissao', new_profissao_path %>
