<p id="notice"><%= notice %></p>
<%= @headers %>
<p>
  <strong>Profissao:</strong>
  <%= @profissao.profissao %>
</p>

<%= link_to 'Edit', edit_profissao_path(@profissao) %> |
<%= link_to 'Back', profissaos_path %>
